* {
  font-family: 'Open Sans', 'Sans Serif';
}

body {
  /* 100% doesn't work here. use 100vh! */
  height: 100vh; 
  background-color: rgba(29, 91, 97, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  /* need display:block to center align with margin:auto */
  
  background-color: white;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.3);
}

.tooltip {
/* without position:absolute, tooltip will be in the normal flow of document affecting other elements around it  */
  position: absolute; 
  pointer-events: none;
  border-radius: 6px;
  background-color: #f4f4f4;
  padding: 1em;
  font-size: .8em;
  width: 15em;
}

.tooltip .doping {
  color: lightseagreen;
}